<div id="footer">
  <!-- Your footer code goes here -->
  <div class="wrapper-ms">
    <ul class="list-inline footer-margin0">
      <li><a href="#"><i class="fa fa-youtube"></i></a></li>
      <li><a href="#"><i class="fa fa-instagram"></i></a></li>
      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
    </ul>
    <p>This is a Airbnb Home challenge @ LeWagon</p>
  </div>
</div>
