---
title: Le Wagon - Middleman
---

<div class="banner" style="background: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('images/background.jpg');">
  <div class="banner-content">
    <h1>WELCOME HOME</h1>
    <p>Book unique homes and experience a city like a local.</p>
    <form action="#" class="form-inline">
      <input type="text" class="form-control input-lg" placeholder="Where?">
      <input type="text" class="form-control input-lg" placeholder="When?">
      <select name="" id="" class="form-control input-lg">
        <option value="1">1 guest</option>
        <option value="2">2 guests</option>
        <option value="3">3 guests</option>
      </select>
      <input type="submit" class="btn btn-primary btn-lg" value="Search">
    </form>
  </div>
</div>

